In [1]:
# Make the jupyter notebook pretty 
# Run for formatting text
from IPython.core.display import display, HTML
HTML("""
<style>

div.text_cell_render h1, h2, h3, h4, h5 { 
font-family: 'Helvetica';
}

div.text_cell_render h1{
line-height:40px;
}

div.text_cell_render h2{
line-height:35px;
}

div.text_cell_render { /* Customize text cells */
font-family: 'Avenir';
font-size:15px;
line-height:20px;
color: #292929;
font-weight:400;
}
</style>
""")

# Pandas Crash Course

### Pre-requisites 
- [`Python`](https://classroom.udacity.com/nanodegrees/nd002/parts/762c0200-e8a7-425b-be49-7080cc533c7d/modules/d2268785-db9d-4aaa-ab44-afec79099d7d/lessons/9b196814-cfcd-4732-890c-cd2834819e56/concepts/285fb88b-39c5-4c6b-8b43-0081e83ef1e3)   

- [`NumPy`](https://classroom.udacity.com/nanodegrees/nd002/parts/762c0200-e8a7-425b-be49-7080cc533c7d/modules/d2268785-db9d-4aaa-ab44-afec79099d7d/lessons/8b1c5460-63fc-4a45-a8a5-3564f160497f/concepts/910f8478-dc21-4c3a-943f-9a22e73bc8e8)

### What are we going to learn today? 

The following tutorial goes into practical use cases of `pandas` functions. The things we are going to learn today will be useful to any project in the Data Analyst Nanodegree. 

1. Handling Missing Data
2. Comparing Groups
3. Examining Relationships
4. String Methods
5. Working with Dates 

### How is this session structured? 
- We're going to go through a bunch of exercises. 
- Each exercise is going to have a driving question that we'll try to answer. 
- In between those explorations, there are `TODO` code blocks questions you'll answer. 
- After each exercise, you'll reflect on your learnings and ask me any questions that you have. 

I strongly encourage you to code along with me! Open the zoom window in one half, and this notebook in the other half.

### What does this tutorial not cover? 

This tutorial will not be focusing too much on: 

- Creating Pandas Series and DataFrames using various methods. 
- How to access and change elements in Series and DataFrames
- How to perform arithmetic operations on Series

I __strongly suggest__ going through the [`NumPy`](https://classroom.udacity.com/nanodegrees/nd002/parts/762c0200-e8a7-425b-be49-7080cc533c7d/modules/d2268785-db9d-4aaa-ab44-afec79099d7d/lessons/8b1c5460-63fc-4a45-a8a5-3564f160497f/concepts/910f8478-dc21-4c3a-943f-9a22e73bc8e8) and [`Pandas`](https://classroom.udacity.com/nanodegrees/nd104/parts/53470233-d93c-4a31-a59f-11388272fe6b/modules/f3b23360-681f-4451-b30b-ed5f406c98a9/lessons/5ef93dbc-0b28-4cf2-af03-e712c5838373/concepts/08bfe507-6877-4d5c-9a16-6a0b743a65ac) tutorials given in the Extra-Curricular section of your classroom, given that you are comfortable with [`Python`](https://classroom.udacity.com/nanodegrees/nd002/parts/762c0200-e8a7-425b-be49-7080cc533c7d/modules/d2268785-db9d-4aaa-ab44-afec79099d7d/lessons/9b196814-cfcd-4732-890c-cd2834819e56/concepts/285fb88b-39c5-4c6b-8b43-0081e83ef1e3).

### Why Pandas? 
- We can come up with questions by looking at our dataset. 
- Pandas gives us the tools to arrange data in the way we want, and answer the questions we want. 
- Today, we're going to go through all those tools and functions. 

Next time you have a question you want to explore - you'll have the tools to explore it.

### Which datasets are we using? 
- `police.csv` is the Rhode Island dataset from the [Stanford Open Policing Project](https://openpolicing.stanford.edu/), made available under the [Open Data Commons Attribution License](https://opendatacommons.org/licenses/by/summary/). 
- `drinks.csv` is the dataset that records [alcohol consumption by country](https://www.kaggle.com/justmarkham/alcohol-consumption-by-country).

In [ ]:
# import the packages

# TODO: import package for dealing with data


# TODO: import package to plot pretty figures


# TODO: add the magic line for showing figures within jupyter notebook

In [ ]:
# TODO: import the police dataset into a pandas dataframe

In [ ]:
# TODO: Let's view the first 5 rows of the dataset.

### What is this dataset about? 

> Each row in the dataset represents a stop made by traffic police in Rhode Island for a particular reason.

In [ ]:
# TODO: Let's see the first row.

In [ ]:
# TODO: Find the number of rows and columns in the dataset.

> It tells us that the dataset has $____$ rows and $____$ columns.

## Q1. Why do we not have parenthesis in front of `.shape` like we do for `.head()`? 
> Answer here.

In [ ]:
# TODO: Now, let's get to know the data type of each column.

# Exercise I. Handling Missing Data 
Now, let's check for missing data. Do we have any `NaN` values?

In [ ]:
# TODO: Check if we have NaN values

In [ ]:
# TODO: Tell me if the value is present or not - for each value
# in the dataframe

In [ ]:
# TODO: Find the number of missing values in each column.



__Note:__ 
- __Axis 0__ represents performing operation __for each Column__. The sum _Goes  Down_ for each column. This is the default setting. We just calculated the sum of all `1`s and `0`s like this:  

<img src="img/axis_0_axis_rows.png">   



- __Axis 1__ represents performing operations __for each Row__.  The sum _Goes Right_ for each row.  

<img src="img/axis_1_axis_columns.png">   


- Memory Trick: I always forget this! `C` looks like $0$. Axis $0$ represents performing operations for each `C`.

In [ ]:
# TODO: Try the same code with axis=1

## Q2. If I wanted to get the mean age of the driver, what `axis` should I use?

In [ ]:
# TODO: Get the mean age of the driver

Let's get started with the exercises.

### Remove columns that only contain `NaN` values.

### 1. Identify which columns to delete.

In [ ]:
# TODO: Find columns that are empty (or have all NaN values).

#### Boolean Masking  
- It's a way of filtering data using a list of True/False values. 
- If the value at the corresponding index is `True`, we'll include it. 
- If the value at the corresponding index is `False`, we'll exclude it.

In [ ]:
# TODO: Get the list of columns

In [ ]:
# TODO: Create a null_mask to filter in empty columns

In [ ]:
# TODO: Get the list of columns have only missing values.

### 2. Dropping the columns

In [ ]:
# TODO: Drop the 'county_name' column from the dataframe

It's really important to check our work.

In [ ]:
# TODO: Check if the column was dropped

> ### Q3. What are the lessons learned from exercise I? 
1. 
2. 
3.

## Exercise II: Comparing Groups

In this exercise, the question we are going to answer is:

### Ex Question: Do men or women speed more often?

In [ ]:
# TODO: Let's first view the 'driver_gender' and 'violation' columns

In [ ]:
# TODO: Let's find out the unique values these columns have, along
# with the count of those values.

In [ ]:
# TODO: Let's get the value counts of the violation column

## Q4. Think about it. How would you find the answer to the question - "Do men or women speed more often?" 
> Answer here.

In [ ]:
# TODO: Given that you are stopped for speeding, how often
# is it a man vs woman?

In [ ]:
# TODO: Get the *proportion* of times it was a male vs female

## Groupby

We can also answer the question **Do men or women speed more often** using [`pd.DataFrame.grouby()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html).   

> The `groupby` function works great when we want to perform aggregations on a particular column, for each group.

In [ ]:
# TODO: Import the drinks dataset: http://bit.ly/drinksbycountry
# and show it's head

In [ ]:
# TODO: Find the average servings for each type of alcohol across all countries

In [ ]:
# TODO: Find the average beer serving for each continent.

The format of using the `groupby` is usually this:  

```python
pd.DataFrame.groupby(
'column_you_want_to_use_to_create_groups'
).column_you_want_aggregations_on.agg_func()
```

### But, what is happening behind the scenes? 

Let's look at a single continent by filtering the data for rows pertaining to Africa.

In [ ]:
# TODO: Create a subset of dataframe with rows pertaining to Africa


# TODO: View it's head

In [ ]:
# TODO: Show what drinks.continent == 'Africa' looks like

In [ ]:
# TODO: Find the average beer servings for african countries

In [ ]:
# TODO: Cross check with what grouping by continent had to say

In [ ]:
# TODO: Let's see the average beer servings for Europe

#### When should we use groupby? 
- Whenever you can rephrase your question to include the **"for each"**, then you can use groupby. 

For example: 
> **What is the average beer serving, by continent?**

to  

> **What is the average beer serving FOR EACH continent?**

### How do I get descriptive statistics of a dataset?

In [ ]:
# TODO: Get descriptive statistics for each numerical column
# in drinks dataframe

### How do I get descriptive statistics for a specific column, for each group?

Now, we can use `.describe()` function on the groupings we have.

In [ ]:
# TODO: Get the descriptive statistics of beer servings 
# FOR EACH continent

### How do I get mean for all numerical columns for each group?

- The format of using the `groupby` is usually this:  

```python
pd.DataFrame.groupby('column_you_want_to_use_to_create_groups').column_you_want_aggregations_of.agg_func()
``` 

- But, you can also use this format:

```python
pd.DataFrame.groupby('column_you_want_to_use_to_create_groups').agg_func()
```

- We can totally skip the `column_you_want_aggregations_of` to compute that `agg_func()` for each numerical column.

In [ ]:
# TODO: Get the mean of all numeric columns FOR EACH continent

### A sneak preview of plotting with pandas:

> __We can even use a combination of `groupby` and `.plot()` function to create plots easily!__

In [ ]:
# TODO: Lets make a bar plot, plotting average beer servings 
# for each continent

In [ ]:
# TODO: Try to sort the above plot in descending order

### How to make a side-by-side bar plot using group by? 

- We can use the query we used to get the average of each numeric column, **for each** continent.

In [ ]:
# TODO: Side-By-Side Plot: 
# Plot the mean servings for each kind of drink for 
# each continent.

### Okay. Back to our `police` dataset,  and to our question! 

> #### Do men or women speed more often?

So again, we can use the following line of thinking:

> #### When someone is stopped for speeding, how often is it a man vs a woman?

In [ ]:
# TODO: Get the proportion of times M vs F is stopped for speeding

Let's try to use a `groupby` here!

In [ ]:
# TODO: Get the driver gender proportions for each violation

In [ ]:
# TODO: Make the above dataframe neat by using .unstack() to pivot 
# the dataframe

In [ ]:
# TODO: Save the data to a sub dataframe

In [ ]:
# TODO: Plot the data as a bar plot

## Q5. What are the chances of getting arrested for each violation?

The relevant columns here are `violation` and `is_arrested`.

In [ ]:
# TODO: Get the proportion of True vs False for is_arrested 
# column for each violation

## Q6. What are the learnings from Exercise II? 
> Answer here.

## Exercise III: Examining Relationships

### Ex Q: Does gender affect who gets searched during a stop?

The relevant columns here are `driver_gender` and `search_conducted`.

> A `search_conducted` means a car search.

In [ ]:
# TODO: Show the two columns - driver_gender and search_conducted

In [ ]:
# TODO: Get the value counts for driver_gender

In [ ]:
# TODO: Get the value counts for search conducted

In [ ]:
# TODO: Get the proportion of stops that had a search in it

We can also use `.mean()` to get the percentage of times a search was conducted.

In [ ]:
# TODO: Get the percentage of times a search was conducted using .mean()

## Q7. Why does the code `.mean()`  get us percentage of times a search was conducted? 
> Answer here.   

> Hint: $Mean = \frac{Sum \ of \ Observations}{Number \ of \ Observations}$ 

>  Our observations are the `True` and `False` values in the `search_conducted` column.

In [ ]:
# TODO: Now, let's use groupby to get the search_conducted results 
# for each gender

We can use the above learning to see the percentage of `True`s **for each** gender.

In [ ]:
# TODO: Get the % of times each gender is stopped

## Q8. When a female is stopped,  2%  of the times, she is searched. When a male is stopped,  4%  of the times, he is searched. So, does this prove that gender affects who gets searched? 

> Answer here.

### Grouping by Two Columns 
- Let's assume that when people are pulled over for `seat_belt` violation - they are rarely searched. 
- But, when they are pulled over for `registeration` violation, they are often searched. 
- What if the `search_conducted` is really tied to `violation` and that men commit more `registeration` violations?

In [ ]:
# TODO: Find the proportion of times a search is conducted 
# for each violation and within that, for each gender.

## Q9. Again, have we proven that gender affects who gets searched during a stop? 

> Answer here.

## Q10. What are the lessons you learned from Exercise 3? 
> Answer here.

## Exercise IV: String Methods

### Ex Q: During a search, how often is the driver frisked?

Let's get to know the values of the `search_type` column again.

In [ ]:
# TODO: Show the value counts of the search_type column

## Q 14. We want to find the number of values in the `search_type` column which contain the string `'Protective Frisk'`. What should we do? 
> Answer here.

### Python String Methods Revision

So, Python has string methods, right?

In [ ]:
string = 'Hi, my name is Rishabh.'
string.find('Rishabh')

In [ ]:
string.lower()

In [ ]:
string.upper()

### So, how do we lowercase an entire column?

In [ ]:
# TODO: Convert all values in the violation column to lowercase

### Why would this be useful to you? 
- Imagine you have scraped data from a web page. That web page has city/country names like the following: 
    - Delhi
    - delhi
    - Sydney
    - sYDneY
    - malaysia 
    - Malaysia
- In order to make the values **consistent** in a column, we use string methods. 
> What do we mean by consisten? We mean that a certain value has only one representation in a column. Therefore, we can either use `'Malaysia'` or `'malaysia'`.

In [ ]:
# TODO: Let's try to convert all values of the violation column to uppercase

In [ ]:
# TODO: And finally,lets convert the values of the violation column to 
# title case

- Now, back to our question. 
- Our problem statement was that we want to see which unique values have the string `'Protective Frisk'`.

In [ ]:
# TODO: First, lets relook the values of the search_type column

In [ ]:
# TODO: First, get the list of unique values in the search type column

In [ ]:
# TODO: Save these unique values to search_type_vals

In [ ]:
# TODO: Get True/False values for each unique value in the search_type 
# column - telling us whether or not it *contains* 'Protective Frisk'

In [ ]:
# TODO: Use the above boolean array to get the value counts for values 
# that contain the string 'Protective Frisk'

In [ ]:
# TODO: Apply sum() on the above line to get the total number of times 
# a driver was frisked

An alternative way to do the above would be to just apply the `str.contains` method to the entire `search_type` column, and sum it. Try it.

In [ ]:
# TODO: Apply the string contains methods to the entire search_type column

In [ ]:
# TODO: Sum the above boolean column

### Now, back to our question: 
> ### Ex Q. During a search, how often is the driver frisked?

In [ ]:
# TODO: Create a sub-dataframe having data of people who were searched.

In [ ]:
# TODO: Get the proportion of times a person was frisked, given they
# were searched.

#### What does this mean? 
> $8\%$ of the times, when there is a search, there is a frisk.

## Q15. What are the lessons we learned from Exercise IV? 
> Answer here.

## Exercise V: Working with Dates

Here, we will ask the question: 

### Ex Q: Which year had the least number of stops?

## Q15. How should we calculate the total number of stops in a year? 
> Answer here.

In [ ]:
# TODO: Find which column tells us the year of the stop

In [ ]:
# TODO: See the data type of stop_date

In [ ]:
# TODO: Convert stop_date to a datetime object

In [ ]:
# TODO: Reassign stop_date to the converted column

In [ ]:
# TODO: Create a column called 'year' and assign to the year of the stop

In [ ]:
# TODO: Show a random sample of 5 of the stop_date and year columns together

So, as you can see, the year column has, just the year of the stop date.   

There are many pandas functions for the `dt` methods like: 

- `pd.Series.dt.dayofweek`
- `pd.Series.dt.is_month_end`
- `pd.Series.dt.month`
- `pd.Series.dt.day` 
- `pd.Series.dt.hour` 

and many more.

### Back to our question 

> ### Ex Q: Which year had the least number of stops?

In [ ]:
# TODO: Get the value counts for the number of stops in each year

In [ ]:
police.year.value_counts()

## Q16. So, what did we learn from exercise V?
> Answer here.